[Desktop Entry]
Type=Link
Name=Eyerest
Icon=e-module-eyerest
Comment=<hilight>This is a Eyerest module</hilight><br><br>for e17.
X-Enlightenment-ModuleType=utils
